html {
  font-size : 16px;
  color     : #777777;
}

body {
  font-family : 'Playfair Display', serif;
  position: relative;
}

.container {
  max-width : 100%;
  min-width : 320px;
}

.wrap {
  min-width  : 320px;
  max-width  : 100%;
  margin     : 0 auto;
  padding : 0 15px;
  box-sizing : border-box;
  @media screen and (min-width:992px) {
    max-width : 992px;
  }
  @media screen and (min-width:1440px) {
    max-width : 1200px;
  }
  @media screen and (min-width:1920px) {
    max-width : 1440px;
  }
}

.visual-hidden {
  position    : absolute;
  width       : 1px;
  height      : 1px;
  margin      : -1px;
  border      : 0;
  padding     : 0;
  white-space : nowrap;
  clip-path   : inset(100%);
  clip        : rect(0, 0, 0, 0);
  overflow    : hidden;
}
.show {
  display: block!important;
}

.show-menu {
  display: grid!important;
  background-color: #fff;
  z-index: 1;
  width: 100vw;
  height: 100%;
  left : 0;
}
.active {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 15px;
}