.form {

  &__search {
	display : flex;
  }

  &__footer {
	justify-self: start;
	@media screen and (min-width: 768px) {
	justify-self : end;
	}
  }
}

.input {
  background-color : #FFFFFF;
  color            : rgb(119, 119, 119);
  line-height      : 1.8;
  text-align       : left;
  border           : 1px solid #FFECECEC;

  &__search {
	height       : 16px;
	width        : 100%;
	font-size    : 14px;
	padding-left : 10px;
	display      : none;
  }
  &__footer {
	max-width : 410px;
	border: 1px solid #ECECEC;
	padding : 10px 0 10px 30px;
  }
}


