.menu {
  font-size      : 18px;
  color          : rgb(34, 34, 34);
  text-transform : uppercase;
  line-height    : 1;
  &__item {
	display : inline;
  }

  &__link {
    padding  : 0 45px;
    color : #222222;
    &:hover {
      text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
    }
  }
}

