.menu {
  font-size             : 18px;
  color                 : rgb(34, 34, 34);
  text-transform        : uppercase;
  line-height           : 1;
  width                 : 100%;

  &__item {
	display : inline;
  }

  &__link {
	color       : #222222;
	white-space : nowrap;

	&:hover {
	  text-shadow : 0.25px 0.1px 0 #222222, -0.25px -0.1px 0px #222222;
	}
  }
}

