.tag {
  font-family    : 'Montserrat', sans-serif;
  color          : rgb(34, 34, 34);
  text-transform : uppercase;
  text-align     : center;
  display       : block;
  border-top    : 2px solid;
  border-bottom : 2px solid;

  &-template {
	font-size    : 12.5px;
	font-weight  : 600;
	line-height  : 3.467;
	color        : #222222;
	border-color : #222222;
	width        : 115px;
	margin       : 0 auto;
  }

  &-lifestyle {
	&--slider {
	  font-size   : 16px;
	  color       : #FFFFFF;
	  line-height : 1.2;
	  letter-spacing: 1.35px;
	  text-align  : center;
	  margin : 0 auto;
	  max-width: 100px;
	  @media screen and (min-width: 768px) {
		font-size : 26px;
		line-height: 1.5;
		letter-spacing: 2px;
		max-width: 200px;
	  }
	  @media screen and (min-width: 1440px) {
		font-size : 30px;
		line-height: 1.733;
		letter-spacing: 4.5px;
		max-width: 250px;
	  }
	}
  }
  &-card {
	font-size : 14px;
	letter-spacing: 0.5px;
	color: #D3C4A6;
	line-height: 3;
	max-width : 140px;
	margin : 0 0 25px;
  }
}
