<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel="stylesheet" href="libs/slick-theme.css")
        link(rel="stylesheet" href="libs/slick.css")
        link(rel="stylesheet" href="css/style.css")
        block styles

        block variables
        title #{title}

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic")
    body
        //include ../common/header

        main.content
            block content



        //include ../common/footer

        block popup


        script(src="libs/jquery.min.js")
        script(src="libs/slick.min.js")
        script(src="js/main.js")

        block scripts